<section class="mission section" id="mission">
  <div class="container mission-container">
    <div class="mission-lead-container">
      <div class="mission-title-container">
        <h2 class="mission-title">
          Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
        </h2>
      </div>
      <div class="mission-text-container">
        <p class="mission-text">
          At Organic Shop, we believe in the power of nature. Our mission is to
          provide you with fresh, locally sourced organic products that nourish
          both body and soul. We partner with ethical farmers who share our
          commitment to sustainability and quality.
        </p>
      </div>
    </div>
    <picture class="">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/mission/mission-dt.jpg    1x,
          /img/mission/mission-dt@2x.jpg 2x
        "
        type="image/jpeg"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /img/mission/mission-tab.jpg    1x,
          /img/mission/mission-tab@2x.jpg 2x
        "
        type="image/jpeg"
      />

      <img
        class="mission-image"
        src="/img/mission/mission-mob.jpg"
        srcset="/img/mission/mission-mob@2x.jpg 2x"
        alt="friendly people"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
