<div class="mobile-menu js-menu-container is-open" id="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-header">
      <a class="mobile-menu-logo" href="./index.html">
        <img class="logo-img" src="./img/logo-group.svg" alt="Organic Shop" />
      </a>

      <button class="mobile-menu-close-btn js-close-menu" type="button">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <!-- nt -->
    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-list">
        <li><a href="#home" class="mobile-nav-link">Home</a></li>
        <li><a href="#mission" class="mobile-nav-link">Mission</a></li>
        <li><a href="#benefits" class="mobile-nav-link">Benefits</a></li>
        <li><a href="#assorts" class="mobile-nav-link">Assorts</a></li>
        <li><a href="#feedbacks" class="mobile-nav-link">Feedbacks</a></li>
        <li><a href="#faq" class="mobile-nav-link">FAQ</a></li>
        <li><a href="#contacts" class="mobile-nav-link">Contacts</a></li>
      </ul>
    </nav>

    <a href="#assorts" class="mobile-menu-order-btn">Order</a>
  </div>
</div>
